#news-letter-footer-column form {
    position: relative ;
    text-align: center ;
}
#news-letter-email-field {
    color: inherit ;
    font-family: inherit ;
    font-size: inherit;
    width: var(--col-10);
    border : 1px solid #b0b0b0;
    border-radius: 3px ;
    box-sizing: border-box ;
    padding: 8px ;
    text-indent: 85px ;
    transition: text-indent 350ms linear ;
}
#news-letter-email-field:focus {
    outline: unset ;
    text-indent: 0;
}
#news-letter-footer-column label {
    background-color: white ;
    position: absolute;
    right: 13px;
    top: 5px ;
    transition: top 250ms linear ;
    padding: 2px 6px ;
    border-radius: 3px;
}
#news-letter-footer-column label>img {
    margin-right: 6px ;
    vertical-align: -7px ;
}
#news-letter-email-field:focus+label{
    top: -18px ;
}
#news-letter-footer-column button {
    width: 42px;
    height: 42px;
    background-color: #595959;
    font-family: inherit;
    font-size: inherit;
    color: white ;
    outline: unset;
    border: unset;
    border-radius: 100% ;
    transition: background-color 300ms linear ;
    vertical-align: middle ;

}
#news-letter-submit-button:hover {
    cursor: pointer ;
    background-color: #7254ff;
}
#news-letter-submit-button img {
    width: 24px ;
    height: 24px ;
    vertical-align: -10px ;
    transform: rotateY(-180deg);
}