#copyright-container {
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px ;
}
#copyright-container::before {
    display: block ;
    content: "";
    width: var(--col-8);
    height: 1px ;
    margin: 0 auto;
    margin-bottom: 35px ;
    background-color: #eee ;
}
#copyright-container #copyright {
    margin-bottom: 30px;
}
#copyright-container a {
    text-underline-offset: 6px ;
    color: inherit ;
}
#copyright-container a:hover {
    color: #7254ff;
}