@import url("../lib/bootstrap.css");
@import url("../lib/uiLoaders/home.css");
body > main {
    margin-top: 30px;
}
#article-container {
    width: var(--col-8);
    float: right;
    margin-right: var(--col-1);
}